doctype html
html
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="format-detection" content="telephone=no")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if (typeof user !== 'undefined')
      a(href="/logout") ログアウト
    else
      a(href="/register") 会員登録
      div
      a(href="/login") ログイン
    block content
