extends layout

block content
  h1 #{title}
  form(action="/login", method="post").form-group
    label Eメール
    input(type="email" name="email" required).form-control
    br
    br
    label(for="") パスワード
    input(type="password" name="password" required).form-control
    br
    br
    button(type="submit").btn.btn-primary ログイン
  if(typeof noUser !== 'undefined')
    p.alert.alert-danger #{noUser}
  div.text-right
    a(href="/") TOPへ戻る