extends layout

block content
  h1 #{title}
  form(action="/register", method="post").form-group
    label ユーザー名
    input(type="text" name="user_name" required).form-control
    br
    br
    label Eメール
    input(type="email" name="email" required).form-control
    br
    br
    label パスワード
    input(type="password" name="password" required).form-control
    br
    br
    button(type="submit").btn.btn-primary 新規会員登録
  if(typeof emailExists !== 'undefined')
    p.alert.alert-danger #{emailExists}
  div.text-right
    a(href="/") TOPへ戻る
